 
    
 

<!-- Background image -->
<div class="bg-image" style="background-image: url('https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');height: 100vh; ">
  
    <div class=" col-lg-12 mask" style="background-color: rgba(10, 9, 9, 0.2);">
        <!-- page title -->
    <div class="mask col-lg-12" style="background-color: rgba(13, 15, 15, 0.1);">
    <div class="d-flex justify-content-center align-items-center h-100">
        <h1 class=" mb-0 sectionhead animate__animated animate__bounceInDown  animate__slow animate__delay-.6s">PORTFOLIO</h1>
        
    </div>
    </div>

        <!-- id card -->
    <div class="col-lg-12 row idfirst  mb-0 sectionhead animate__animated animate__bounceInLeft  animate__slow animate__delay-1s">
        <div class="col-lg-3 "></div>
         <div class="idhead col-lg-6 align-items-center  " >
            <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_g3LnYT0BbYVUlh9HHHhrkrn5Hg4F_K365Q&usqp=CAU" alt="" width="25%" height="25%" id="idpic">
            <div class= "justify-content-center align-items-center" id="idname">
             <p>Aravind A K</p>
            </div>
            <div class="row col-lg-12 ">
            <a  class="  col-lg-6"><button type="button" class="btn  btn-outline-light btn-dark lead smooth-scroll " id="idb1">Hire me</button></a>
            <a  class="  col-lg-6"><button type="button"  class="btn btn-outline-light btn-dark lead smooth-scroll " id="idb2" routerLink="/contact" >Contact</button></a>
            </div>
         </div>
         <div class="col-lg-3 "></div>  
    </div>
  
</div>
</div>
<!-- Background image -->
    
  
    




<!-- second section -->

   <div class=" col-lg-12 row secondsection mask " style="background-color: rgb(255, 255, 255);" >
   
    <div class="col-lg-2 "></div>
    
    <div class="col-lg-9 row ">
        <div class="card section2card mask"  style="background-color:rgb(255, 255, 255)">
            <div class="col-lg-12 " >
                <h4 class="secondsectionname">About</h4>
                <p id="aboutheadpara">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum fermentum vel tincidunt neque. Sed sed lacinia lectus. Duis sit amet sodales felis. Duis nunc eros, mattis at dui ac, convallis semper risus. In adipiscing ultrices tellus, in suscipit massa vehicula eu.”</p>
            </div><hr style="height: .3cm;">
            <div class=" col-lg-12">
                 <h4 class="secondsectionname lead">Basic Information</h4>
                 <p> <span id="dob" class="lead"> DATE OF BIRTH:</span> XXXXX</p>
                 <p><span id="dob"class="lead">EMAIL:</span> XXXXX</p>
                 <P><span id="dob"class="lead">PHONE:</span> XXXXXX</P>
                 <P><span id="dob"class="lead">ADDRESS:</span>XXXXXXX,XXXXXXXXX<br>XXXXXXXX</P>
                 <P><span id="dob"class="lead">LANGUAGE:</span>XXXXXX</P>
            </div>

    </div>
    </div>
    <div class="col-lg-2 "></div>

    
   </div>
   




<!-- 3rd section -->

   <div class=" section3">
    <h4 id="section3head"  class=" justify-content-center align-items-center "><img src="https://img.icons8.com/ios-filled/344/services--v2.png" alt="" class="logo">Services Offered</h4>
    <div class="row col-lg-12">
        <div class="col-lg-2"></div>
        <div class="col-lg-10 row section3firstline">
            <div class="col-lg-3 row card ">
                <img src="https://wallpaperaccess.com/full/3343677.jpg" alt="Fissure in Sandstone"/>
                <div class="card-body"> 
                  <h5 class="card-title">1.  <span class="cardname">  Web Development</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-dark">More</a>
                </div>
              </div>
            <div class="row col-lg-1"></div>
            <div class="col-lg-3 row card">
                <img src="https://images.pexels.com/photos/3182773/pexels-photo-3182773.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 4cm;" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">2.<span class="cardname">Static web service </span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-dark">More</a>
                </div>
            </div>
            <div class="row col-lg-1"></div>
            <div class="col-lg-3 row card">
                <img src="https://images.unsplash.com/photo-1616469832301-ffaeadc68cf3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d29yZHByZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="height: 4cm;" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">3. <span class="cardname"> WordPress development</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-dark">More</a>
                </div>
            </div>
            <div class="row col-lg-1"></div>
           
        </div>
        
        

    </div>


    <!-- section 3 2nd line -->
    <div class="row col-lg-12 section3nsecondline">
        <div class="col-lg-2"></div>
        <div class="col-lg-10 row">
            <div class="col-lg-3 row card">
                <img src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGhwJTIwZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="height: 4cm;" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">4. <span class="cardname"> PHP development</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-dark">More</a>
                </div>
              </div>
            <div class="row col-lg-1"></div>
            <div class="col-lg-3 row card">
                <img src="https://images.unsplash.com/photo-1608306448197-e83633f1261c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGhwJTIwZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="height: 4cm;" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">5. <span class="cardname">Customized web app development</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-dark">More</a>
                </div>
            </div>
            <div class="row col-lg-1"></div>
            <div class="col-lg-3 row card">
                <img src="https://images.unsplash.com/photo-1624996752380-8ec242e0f85d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVsbCUyMHN0YWNrJTIwZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="height: 4cm;" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">6. <span class="cardname"> Full Stack Development</span></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#!" class="btn btn-dark">More</a>
                </div>
            </div>
            <div class="row col-lg-1"></div>
        </div>
    </div>


   </div>
  

   <!-- fourth section -->


   <div class=" sectionfour">
    <h3 id="testi" class=" justify-content-center align-items-center"><img src="https://img.icons8.com/ios-filled/344/communication.png" alt="" class="logo">Testimonials</h3>
    <div class="col-lg-12">
    
    <div class="col-lg-12 " >
        <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner " >
              <div class="carousel-item active " >
                <img src=""  style="height: 8cm;background-color: rgb(154, 154, 154);" class="d-block w-100 mask" >
                <div class="carousel-caption d-none d-md-block" >
                  <div  class="carohead">
                  
                    <p class="carop">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel fringilla. Felis eget velit aliquet sagittis id consectetur purus. At ultrices mi tempus imperdiet nulla malesuada. Sit amet dictum sit amet. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris."</p>
                    <p><span class="caroname">Mr. Dennis Ritchie</span><br> Computer scientist</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" >
                <img src="" style="height: 8cm;background-color: rgb(154, 154, 154);" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" >
                  <div  class="carohead">
                    <p class="carop">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel fringilla. Felis eget velit aliquet sagittis id consectetur purus. At ultrices mi tempus imperdiet nulla malesuada. Sit amet dictum sit amet. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris."</p>
                        <p> <span class="caroname">Mr. James Gosling</span><br>
                          Computer scientist</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="" style="height: 8cm;background-color: rgb(154, 154, 154);" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block " >
                  <div  class="carohead">
                    <p class="carop">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel fringilla. Felis eget velit aliquet sagittis id consectetur purus. At ultrices mi tempus imperdiet nulla malesuada. Sit amet dictum sit amet. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris."</p>
                    <p><span class="caroname">Mr. Linus Torvalds</span><br> CEO</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="" style="height: 8cm;background-color: rgb(154, 154, 154);" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <div  class="carohead"> 
                    <p class="carop">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum facilisis leo vel fringilla. Felis eget velit aliquet sagittis id consectetur purus. At ultrices mi tempus imperdiet nulla malesuada. Sit amet dictum sit amet. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris."</p>
                    <p><span class="caroname" >Mr. Rushabh Mehta</span><br> Leading developer</p>
                  </div>
                </div> 
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    
   </div>
   </div>
