

<div class=" footer" >
  

  <div class="row" style="background-color:rgb(77, 79, 79);" id="footf">
        
        <div class="col-lg-6">
            <h1 style="font-weight: 700;">Aravind A K</h1>
            <p>Trivandrum,Kerala</p>
        </div>

        <div class="col-lg-3 foot1">
           
            <a routerLink="" class="lead" style="text-decoration: none;color: rgb(255, 255, 255);">Home</a><br>
            <a routerLink="about" class="lead"style="text-decoration: none;color: white;">About</a><br>
            

        </div>
        
        <div class="col-lg-3 foot2">
           
            <a routerLink="service" class="lead"style="text-decoration: none;color: white;">Service</a><br>
            <a routerLink="contact" class="lead"style="text-decoration: none;color:white;">Contact</a>

        </div>
    </div>


        
        <div class="container-fluid col-lg-12" style="background-color:rgb(255, 255, 255);">
       
        <div id="foots">
           
            <a href="#" ><img src="https://img.icons8.com/ios-filled/344/facebook--v1.png" alt="fb" id="fb"></a>
            <a href="#" ><img src="https://img.icons8.com/ios-filled/344/twitter-circled--v2.png" alt="twitter" id="tw"></a>
            <a href="#" ><img src="https://img.icons8.com/ios-filled/344/instagram-new.png" alt="instagram" id="insta"></a>
            <a href="#" ><img src="https://img.icons8.com/glyph-neue/344/linkedin.png" alt="linkedin" id="link"></a>
            <a href="#"><img src="https://img.icons8.com/ios-filled/344/apple-phone.png" alt="phone"  id="phone"></a>
        
        </div>
        
        <div class="col-lg-12">
            <p id="copy">© 2022 | All Rights Reserved with Copyright & TradeMarks</p>
        </div>
    </div>
</div>



  